<h2>Hello user id <%= data.id %></h2>
<p>Email <%= data.email %></p>

<form action="/cart" method="GET">
  <button action="button">Cart</button>
</form>

<form action="/logout" method="POST">
  <button action="button">Logout</button>
</form>

<!-- <form action="/accounts/delete" method="delete">
  <button action="button">Delete</button>
</form> -->
