.container {
  display: flex;
  flex-direction: column;
  max-width: 80%;
  margin: 0 auto;
  max-height: 400px;
}

.login {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
  border: 3px solid red;
}
.login button {
  width: 30%;
  margin: 0 auto;
  border-radius: 3px;
  border-style: none;
  margin-bottom: 3%;
  height: 30px;
}
.login button:hover {
  cursor: pointer;
}
.el-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 3%;
}
.el-container label {
  margin-bottom: 2px;
}

.el-container input {
  height: 25px;
  border-style: none;
  border-radius: 5px;
}
